.#{$prefix}date-picker-date {
    &-header {
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e8eaec;
        padding: 0 10px;
        .iconfont {
            font-size: 14px;
            cursor: pointer;
            &:hover {
                color: rgb(65, 148, 236);
            }
        }
        .#{$prefix}date-time {
            margin: 0 auto;
        }
    }
    &-content {
        margin: 10px;
        width: 196px;
        span.#{$prefix}date-picker-cell {
            display: inline-block;
            height: 28px;
            line-height: 28px;
            width: 28px;
            text-align: center;
        }
        &-week {
            color: rgb(197, 200, 206);
        }
        &-day {
            display: flex;
            flex-wrap: wrap;
            color: rgb(197, 200, 206);
            cursor: pointer;
            .#{$prefix}date-picker-cell-current {
                color: initial;
                em {
                    font-style: normal;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    margin: 2px;
                    display: inline-block;
                    border-radius: 3px;
                }
                &:hover em{
                    background-color: #e1f0fe;
                }
                &.#{$prefix}date-picker-cell-active em {
                    background-color: #2d8cf0;
                    color: #fff;
                }
            }
        }
    }
}