.#{$prefix}date-picker {
    display: inline-block;
    &-dropdown {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
        // width: 100%;
        margin: 5px 0;
    }
}
@import "./date-picker-date.scss";
@import "./date-picker-range.scss"